@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;700&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 50%;
}

body {
    font-family: 'Sora', sans-serif;
    line-height: 3rem;

    a {
        text-decoration: none;
        color: $color-black;
    }
    
    label {
        cursor: pointer;
    }
}

input[type="radio"] {
    display: none;
}

.icon-radio::before {
    content: "";
    width: 3rem;
    height: 3rem;
    background-image: url(/public/images/icons/radio_unchecked.svg);
    background-size: cover;
    display: flex;

    transition: all .2s;
}

input[type="radio"]:checked + ::before {
    background-image: url(/public/images/icons/radio_checked.svg);
}

::selection {
    background-color: $color-primary-light;
    color: $color-black;
}