@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;700&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 50%;
}

body {
    font-family: 'Sora', sans-serif;
    line-height: 3rem;
}

a {
    text-decoration: none;
    color: $color-black;
}

.empty-list-msg {
    font-size: $normal-font-size;
    text-align: center;
    color: $color-white;
}