.primary-heading {
    font-size: 4.8rem;
    font-weight: 700;
    line-height: 6rem;
}

.secondary-heading {
    font-size: 2.4rem;
    font-weight: 700;
}

.tertiary-heading {
    font-size: 2rem;
    font-weight: 700;
}