.container {
    margin: 0 16rem;

    @include responsive(phone) {
        margin: 0 4rem;
        margin-bottom: 15rem;
    }
}

.p-center-text {
    text-align: center;
}

.margin-bottom-huge {
    margin-bottom: 5rem;
}

.radio-selected {
    background-color: $color-significance-dark !important;
    box-shadow: 0 .6rem 5rem rgba($color: $color-black, $alpha: .25);

    input, select {
        background-color: $color-selected-light !important;
    }
}

.empty-list-msg {
    font-size: $normal-font-size;
    text-align: center;
}

.hidden {
    visibility: hidden;
}