@import "abstracts/variables";

@import "base/base";
@import "base/typography";
@import "base/utilities";

@import "components/buttons";
@import "components/category-nav";
@import "components/checkout";
@import "components/customer-reviews";
@import "components/footer";
@import "components/navbar";
@import "components/order-summary";
@import "components/orders-history";
@import "components/payment-modes";
@import "components/price-tag";
@import "components/product-card";
@import "components/product-filter";
@import "components/product-rating";
@import "components/product-search";
@import "components/product";
@import "components/quantity-counter";
@import "components/shopping-cart"

