$color-primary-light: #D9D9D9;
$color-primary-dark: #828282;
$color-secondary-light: #5A5A5A;
$color-secondary-dark: #5E5C5C;
$color-tertiary-dark: #1C1C1C;
$color-white: white;
$color-black: black;

$small-font-size: 1.6rem;
$normal-font-size: 2rem;
$medium-font-size: 2.4rem;
$large-font-size: 4.8rem;

$normal-border-radius: 1.5rem;
$large-border-radius: 5rem;