.section-checkout {
	.checkout-details-p-summary {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;

		& > section:last-child {
			margin: 5.5rem 0 0 8rem;
		}

		@include responsive(phone) {
			& > section:last-child {
				margin: 5.5rem 0 0 0;
			}

			flex-direction: column;
		}
	}

	.checkout-details {
		flex-basis: 65%;

		&__address-list {
			padding: 2rem;
			margin-top: 2.5rem;
			@include containerBorderColor;
		}

		@include responsive(phone) {
			width: 100%;
		}
	}

	.individual-address {
		display: flex;
		justify-content: space-between;
		align-items: center;

		padding: 3rem;
		background-color: $color-primary-light;
		border-radius: $normal-border-radius;

		transition: all 0.3s;

		&:not(:last-child) {
			margin-bottom: 2rem;
		}

		&__address-m-btn {
			display: flex;
			align-items: flex-start;
		}

		&__address-details {
			line-height: 2rem;
			margin-top: 0.2rem;

			div:nth-child(2) {
				margin-top: 0.5rem;
			}

			&:not(:first-child) {
				font-size: $small-font-size;
			}

			margin-left: 4rem;
		}
	}
}

.section-items-p-delivery {
	& > div:first-child {
		margin-top: 5rem;
		margin-bottom: 2.5rem;
	}

	.items-p-delivery {
		&__items-list {
			padding: 2rem;
			@include containerBorderColor;
		}
	}

	.individual-item {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;

		border-radius: $normal-border-radius;
		background-color: $color-primary-light;
		padding: 2.3rem;

		.product-card__eta {
			background-color: $color-primary-dark;

			@include responsive(tab_p) {
				justify-content: center;
				margin-top: 2rem;
			}
		}

		@include responsive(tab_p) {
			display: block;
			flex-direction: column;
		}

		&:not(:last-child) {
			margin-bottom: 2rem;
		}

		&__details-m-price {
			display: flex;
			align-items: flex-start;
			border-radius: inherit;

			@include responsive(phone) {
				justify-content: space-between;
			}
		}

		&__details {
			& > div:not(:first-child) {
				font-size: $normal-font-size;
			}
		}

		&__image {
			background-color: $color-primary-dark;
			border-radius: inherit;
			width: 20rem;
			height: 20rem;
			margin-right: 4rem;

			overflow: hidden;

			img {
				width: 100%;
				height: 100%;
			}
		}

		&__quantity {
			margin: 1rem 0 2rem 0;
		}

		&__amount {
			display: inline-block;
			padding: 1.1rem 2.7rem;
			color: $color-white;
			background-color: $color-black;
			border-radius: $normal-border-radius;
		}
	}
}
