.customer-reviews {
    margin-top: 15rem;
    
    .reviews-p-ratings {
        margin-top: 6rem;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }     
}

.product-reviews-list {
    padding: 4rem;
    color: #646161;
    border-radius: $normal-border-radius;
    background-color: $color-primary-light;
    margin-left: 8rem;
    flex-grow: 2.7;

    &>div:not(:last-child) {
        margin-bottom: 5rem;
    }

    .individual-review {
        display: flex;
        
        &__customer-image {
            width: 22rem;
            height: 7.5rem;
            border-radius: $large-border-radius;
            background-color: $color-secondary-light;
            margin-right: 3rem;
        }

        &__details {
            margin-top: 1.5rem;
        }
    
        &__date, &__content {
            font-size: $normal-font-size;
        }
    
        &__content {
            margin-top: 1.5rem;
        }
    }
}  

.product-rating {
    padding: 1.5rem;
    border-radius: $normal-border-radius;
    background-color: $color-primary-light;
    flex-grow: 1;

    &__average-p-rating-bar {
        display: flex;
        justify-content: space-between;
    }

    &__average-rating {
        border-radius: $normal-border-radius;
        background-color: $color-secondary-light;
        padding: 2.5rem;
        color: $color-white;
        
        &--primary {
            font-size: 3.2rem;
            font-weight: 700;
        }
    
        &--secondary {
            margin-top: 1.5rem;
            font-size: $normal-font-size;
        }
    }    

    &__levels {
        font-size: $normal-font-size;
        margin: 4rem 0 2.5rem 0;
        padding: 0 2.5rem;
    }
}