.nav-search {
    display: flex;
    font-size: $normal-font-size;

    &__search-category {
        font-weight: 700;
        padding: 2.5rem;
        background-color: $color-primary-dark;
        border-radius: $normal-border-radius 0 0 $normal-border-radius;
    }

    &__search-input {
        font-family: inherit;
        font-size: inherit;
        padding: 2.5rem;
        background-color: $color-primary-light;
        border-radius: 0 $normal-border-radius $normal-border-radius 0;
        border-style: none;
        outline-style: none;
        width: 50rem;
    }
}