.section-order-summary, .section-lifetime-savings {
    font-size: $normal-font-size;
    padding: 2rem;
    background-color: $color-primary-light;
    border-radius: $normal-border-radius;
    flex-basis: 30%;

    &>:first-child {
        margin: 1rem 0 2.6rem 0;
    }

    .btn-proceed-to-pay {
        color: $color-white;
        padding: 2.3rem 0;
        text-align: center;
        background-color: $color-black;
        border-radius: $normal-border-radius;
        margin-top: 4.3rem;
        cursor: pointer;
        user-select: none;

        &:hover {
            background-color: $color-significance-dark;
            color: $color-black;
            box-shadow: 0 .6rem 5rem rgba($color: $color-black, $alpha: .25);
        }
    }
}

.order-summary {
    &__charges, &__coupon, &__order-total {
        padding: 2rem 2.4rem;
        margin-bottom: 2rem;
    }

    &__charges {
        background-color: $color-significance-dark;
        border-radius: inherit;

        &--item-charges, &--delivery-charges {
            display: flex;
            justify-content: space-between;
        }

        &>div:not(:last-child) {
            margin-bottom: 1.5rem;
        }
    }

    &__coupon {
        background-color: $color-primary-dark;
        border-radius: inherit;
        color: $color-white;
        position: relative;

        input {
            font-family: inherit;
            font-size: inherit;
            padding: 1.5rem;
            background-color: $color-primary-light;
            border-radius: $normal-border-radius;
            border-style: none;
            outline-style: none;
            width: 100%;
            margin-top: 2rem;
        }

        .btn-apply-coupon {
            font-size: $small-font-size;
            position: absolute;
            bottom: 2.8rem;
            right: 3.2rem;
            background-color: $color-black;
            padding: .5rem 2.5rem;
            border-radius: $large-border-radius;
        }
    }

    &__order-total {
        background-color: $color-significance-dark;
        border-radius: inherit;
        display: flex;
        justify-content: space-between;
    }
}