.order-meta {
    display: flex;
    justify-content: space-between;
    font-size: $small-font-size;

    padding: 2.3rem 2.3rem 3.8rem 2.3rem;
    background-color: $color-primary-dark;
    border-radius: $normal-border-radius $normal-border-radius 0 0;

    .customer-meta {
        position: relative;
        cursor: pointer;

        &__address-p-payment {
            position: absolute;
            display: none;
            top: 125%;
            padding: 1rem 2rem;
            background-color: $color-significance-dark;
            border-radius: $normal-border-radius;
            width: 200%;
        }

        &:hover .customer-meta__address-p-payment {
            display: block;
        }
    }

    &>div:last-child {
        text-align: right;
        flex-grow: 3;
    }

    &>div:not(:last-child) {
        flex-grow: 1;
    }
}

.orders-history-plus-savings {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    @include responsive(phone) {
        flex-direction: column;
    }
}

.orders-history {
    @include containerBorderColor;
    padding: 2rem;
    flex-basis: 65%;

    @include responsive(phone) {
        margin-bottom: 4rem;
    }
    
    &>div:not(:last-child) {
        margin-bottom: 2rem;
    }

    &__individual {
        padding: 2.3rem;
        background-color: $color-primary-light;
        border-radius: 0 0 $normal-border-radius $normal-border-radius;

        &>div:first-child {
            margin-bottom: 3rem;
        }
    }
}

.order-products-list {
    display: flex;
    justify-content: space-between;

    @include responsive(phone) {
        flex-direction: column;
    }
}

.order-product {
    display: flex; 
    
    &:not(:last-child) {
        margin-bottom: 2.3rem;
    }

    &__product-image {
        width: 21.6rem;
        height: 21.6rem;
        background-color: $color-primary-dark;
        border-radius: $normal-border-radius;
    }

    &__product-details {
        margin-left: 2.8rem;

        .product-name {
            margin-bottom: 1.5rem;
            line-height: 2.5rem;
        }
    }
}

.order-actions {
    display: flex;
    flex-direction: column;

    @include responsive(phone) {
        margin-top: 4rem;
    }
    
    &>div:not(:last-child) {
        margin-bottom: 1.5rem;
    }
}

.section-lifetime-savings {

}