.section-payment {
    &>div:first-child {
        margin-top: 5rem;
        margin-bottom: 2.5rem;
    }
}

.payment-modes {
    padding: 2rem;
    @include containerBorderColor;
}

.payment-option {
    display: flex;
    align-items: flex-start;
    padding: 3rem;
    background-color: $color-primary-light;
    border-radius: $normal-border-radius;

    &__details {
        // margin-top: .8rem;
        margin-left: 3rem;
        width: 50%;
    }

    &__instruction {
        font-size: $small-font-size;
        margin-top: 2rem;

        input, select {
            font-family: inherit;
            font-size: inherit;
            padding: 1.5rem;
            background-color: $color-primary-dark;
            border-radius: $normal-border-radius;
            border-style: none;
            outline-style: none;
        }

        &--name, &--number, &--expiry {
            display: flex;
            justify-content: space-between;
            align-items: center;

            input {
                width: 70%;
            }

            select:last-child {
                margin-left: 2.5rem;
            }
        }
        
        &--upi-id {            
            input {
                width: 70%;
                margin-right: 1.6rem;
            }
            
            div:first-child {
                margin-bottom: 1.5rem;
            }
        }
        
    }

    &:not(:last-child) {
        margin-bottom: 2rem;
    }
}