.price-tag {
    display: inline-block;
    padding: 1.7rem 3.3rem;
    background-color: $color-black;
    border-radius: $normal-border-radius;
    margin: 3.5rem 0;

    .price {
        font-size: $large-font-size;
        font-weight: 700;
        color: $color-white;
        line-height: 6rem;
    }

    .discount {
        font-size: $medium-font-size;
        color: $color-white;
        line-height: 3rem;
    }
}