.price-tag {
    display: inline-block;
    padding: 1.7rem 3.3rem;
    background-color: $color-significance-dark;
    border-radius: $normal-border-radius;
    
    &__price {
        font-size: $large-font-size;
        font-weight: 700;
        line-height: 6rem;
    }
    
    &__product {        
        margin: 3.5rem 0;
        
        &--discount {
            font-size: $medium-font-size;
            line-height: 3rem;
        }
    }

    &__subtotal {
        margin: 2rem 0 2.5rem 0;
        
        &--discount {
            display: none;
        }
    }

}