.product-filter {
    // width: 28rem;
    background-color: $color-primary-light;
    padding: 1.3rem;
    border-radius: $normal-border-radius;

    .filter-heading {
        background-color: $color-primary-dark;
        padding: 1rem;
        text-align: center;
        border-radius: inherit;
    }

    &__category {
        font-size: $normal-font-size;
        padding: 0 1.2rem;

        label {
            display: inline-block;
            margin-left: .5rem;
        }

        &--name {
            margin-top: 2rem;
            margin-bottom: 1rem;
            font-weight: 700;
        }
    }

    .filter-option {
        display: flex;
        align-items: center;

        &:not(:last-child) {
            margin-bottom: .5rem;
        }
    }
}