.section-product-search {
    margin: 5rem 16rem;   

    .product-search {
        &__filter-p-grid {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
        }

        &__grid {
            display: grid;
            grid-template-columns: repeat(3, minmax(0, 1fr));
            grid-gap: 5rem;
        }
    }
}