.product-filter {
    // width: 28rem;
    background-color: $color-primary-light;
    padding: 1.3rem;
    border-radius: $normal-border-radius;
    flex-basis: 20%;

    @include responsive(phone) {
        position: absolute;
        top: 7rem;
        right: 0;
        z-index: 10;
    }

    .filter-heading {
        background-color: $color-primary-dark;
        padding: 1rem;
        text-align: center;
        border-radius: inherit;
    }

    &__category {
        font-size: $normal-font-size;
        padding: 0 1.2rem;

        label {
            display: inline-block;
            // margin-left: .5rem;
        }

        &--name {
            margin-top: 2rem;
            margin-bottom: 1rem;
            font-weight: 700;
        }
    }

    .filter-option {
        display: flex;
        align-items: center;

        label::before {
            content: "";
            display: inline-block;
            width: 2.5rem;
            height: 2.5rem;
            margin-right: 1rem;
            background-image: url(/public/images/icons/checkbox_unchecked.svg);
            background-size: cover;
            vertical-align: middle;

            transition: all .2s;
        }

        input[type="checkbox"] {
            display: none;
        }

        input[type="checkbox"]:checked + label::before {
            background-image: url(/public/images/icons/checkbox_checked.svg);
        }

        &:not(:last-child) {
            margin-bottom: .5rem;
        }
    }
}