.product-card {
    font-size: $normal-font-size;
    width: 38rem;
    height: 100%;
    padding: 1.7rem;
    background-color: $color-primary-dark;
    border-radius: $normal-border-radius;
    
    @include responsive(phone) {
        width: 100%;
    }

    transition: all .5s;

    &:hover {
        box-shadow: 0 .6rem 5rem rgba($color: $color-black, $alpha: .25);
    }

    &__product-image {
        background-color: $color-primary-light;
        border-radius: $normal-border-radius;
        height: 25rem;
        position: relative;

        .sale-tag {
            font-size: $small-font-size;
            background-color: $color-primary-dark;
            padding: .6rem 2rem;
            border-radius: $large-border-radius;
            position: absolute;
            top: 1.3rem;
            right: 1.3rem;
        }
    }

    &__product-details {
        padding: 2rem .8rem .3rem .8rem;
        border-radius: 0 0 $normal-border-radius $normal-border-radius;

        div:not(:last-child){
            margin-bottom: 1rem;
        }
    }

    &__name {
        font-weight: 700;
    }

    &__eta {
        display: flex;
        align-items: center;
        font-size: $small-font-size;
        background-color: $color-primary-light;
        border-radius: $normal-border-radius;
        padding: 1rem;

        img {
            margin-right: 1rem;
            height: 3.2rem;
        }
    }
}