.section-product-search {
    .product-search {
        &__search-count {
            margin-bottom: 5rem;
            font-size: $medium-font-size;

            span {
                font-weight: 700;
            }
        }

        &__filter-p-grid {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
        }

        &__grid {
            display: grid;
            grid-template-columns: repeat(3, minmax(0, 1fr));
            grid-gap: 5rem;
            flex-basis: 75%;
        }
    }
}