.product-card {
    margin: 5rem 10rem;
    font-size: $normal-font-size;
    width: 38rem;

    &__product-image {
        background-color: $color-primary-light;
        border-radius: $normal-border-radius $normal-border-radius 0 0;
        height: 25rem;
        position: relative;

        .sale-tag {
            font-size: $small-font-size;
            background-color: $color-primary-dark;
            padding: .6rem 2rem;
            border-radius: $large-border-radius;
            position: absolute;
            top: 1.3rem;
            right: 1.3rem;
        }
    }

    &__product-details {
        padding: 2rem;
        background-color: #A5A5A5;
        border-radius: 0 0 $normal-border-radius $normal-border-radius;

        div:not(:last-child){
            margin-bottom: 1rem;
        }
    }

    .product-title {
        font-weight: 700;
    }

    .product-expected-delivery {
        display: flex;
        align-items: center;
        font-size: $small-font-size;
        background-color: #D9D9D9;
        border-radius: $normal-border-radius;
        padding: 1rem;

        img {
            margin-right: 1rem;
            height: 3.2rem;
        }
    }
}