.quantity {

    .quantity-counter {
        display: inline-block;
        border: thin solid $color-primary-dark;
        border-radius: $normal-border-radius;
        background-color: $color-white;
        color: $color-black;
    
        .counter-controls {
            display: flex; 
            align-items: center;        
        }
    }

    .decrement, .increment {
        background-color: $color-primary-light;
        border-radius: $normal-border-radius;
        padding: 1rem 2rem;
        cursor: pointer;
    }
}

.small {
        
    &>div:first-child {
        font-size: $normal-font-size;
        margin: 1rem 0 1rem 0;
    }

    .quantity-counter {
        padding: .9rem;
        font-size: $small-font-size;
        margin-bottom: 3rem;
        line-height: 2rem;
    }

    .counter-controls {    
        & div:not(:last-child) {
            margin-right: 1.7rem;
        }
    }
}

.big {
        
    &>div:first-child {
        font-size: $medium-font-size;
        margin-bottom: 2rem;
    }

    .quantity-counter {
        // padding: 1.8rem 2.5rem;
        padding: 1rem;
        font-size: $medium-font-size;
        margin-bottom: 4rem;
    }

    .counter-controls {    
        & div:not(:last-child) {
            margin-right: 3.3rem;
        }
    }
}
