.section-shopping-cart {
    margin: 0 16rem;

    .shopping-cart {
        &__heading-p-btn {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &__cart-p-subcheck {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
        }

        &__cart-p-subtotal {
            display: flex;
            flex-direction: column;
            flex-grow: 2.7;
        }

        &__products-list {
            padding: 2rem;
            border-radius: $normal-border-radius;
            background-color: $color-secondary-dark;        
        }
    }
    
    .cart-product {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        
        color: $color-white;
        border-radius: $normal-border-radius;
        background-color: $color-primary-dark;
        padding: 3rem;

        &:not(:last-child) {
            margin-bottom: 2rem;
        }

        .btn:not(:last-child) {
            margin-right: 2.5rem;
        }

        &__image {
            background-color: $color-primary-light;
            border-radius: inherit;
            width: 20rem;
            height: 20rem;
            margin: 0 4rem;
        }

        &__details-m-price {
            display: flex;
            align-items: flex-start;
            border-radius: inherit;
        }
    }

    .cart-subtotal {
        font-size: $medium-font-size;
        background-color: $color-primary-light;
        border-radius: $normal-border-radius;
        padding: 3rem 4.8rem;
        margin-top: 3.6rem;
        display: inline-block;
        text-align: right;

        div {
            display: inline-block;
        }
    }

    .subtotal-checkout {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 8rem;

        flex-grow: 1;
        font-size: $medium-font-size;
        color: $color-white;
        background-color: $color-secondary-dark;
        border-radius: $normal-border-radius;
        padding: 3.5rem;
        text-align: center;    
    }
}