@import url("https://fonts.googleapis.com/css2?family=Sora:wght@400;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 50%; }

body {
  font-family: 'Sora', sans-serif;
  line-height: 3rem; }

a {
  text-decoration: none;
  color: black; }

.primary-heading {
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 6rem; }

.secondary-heading {
  font-size: 2.4rem;
  font-weight: 700; }

.tertiary-heading {
  font-size: 2rem;
  font-weight: 700;
  line-height: 2rem; }

.container {
  margin: 0 16rem; }

.p-center-text {
  text-align: center; }

.margin-bottom-huge {
  margin-bottom: 5rem; }

.btn {
  display: inline-block;
  border-radius: 1.5rem;
  text-align: center; }
  .btn__primary {
    font-size: 2.4rem;
    font-weight: 700;
    padding: 2.5rem 4rem;
    background-color: #D9D9D9; }
  .btn__secondary {
    font-size: 1.6rem;
    padding: 1rem 2.3rem;
    color: white;
    background-color: black; }
  .btn__tertiary {
    font-size: 1.6rem;
    color: white;
    padding: 1.2rem 5.6rem;
    background-color: black; }

.nav-secondary__products-category {
  font-size: 2rem;
  font-weight: 700;
  background-color: #D9D9D9;
  margin-bottom: 8rem; }
  .nav-secondary__products-category ul {
    display: flex;
    list-style-type: none;
    padding: 3rem 16rem; }
    .nav-secondary__products-category ul li:not(:last-child) {
      margin-right: 4rem; }

.section-checkout .checkout-details-p-summary {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; }
  .section-checkout .checkout-details-p-summary > section:last-child {
    flex-grow: 1;
    margin: 5.5rem 0 0 8rem; }

.section-checkout .checkout-details {
  flex-grow: 2.7; }
  .section-checkout .checkout-details__address-list {
    padding: 2rem;
    background-color: #5E5C5C;
    border-radius: 1.5rem;
    color: white;
    margin-top: 2.5rem; }

.section-checkout .individual-address {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #828282;
  padding: 3rem;
  border-radius: 1.5rem; }
  .section-checkout .individual-address:not(:last-child) {
    margin-bottom: 2rem; }
  .section-checkout .individual-address__address-m-btn {
    display: flex;
    align-items: flex-start; }
  .section-checkout .individual-address__address-details {
    line-height: 2rem;
    margin-left: 4rem; }
    .section-checkout .individual-address__address-details div:nth-child(2) {
      margin-top: .5rem; }
    .section-checkout .individual-address__address-details:not(:first-child) {
      font-size: 1.6rem; }

.section-items-p-delivery > div:first-child {
  margin-top: 5rem;
  margin-bottom: 2.5rem; }

.section-items-p-delivery .items-p-delivery__items-list {
  background-color: #5E5C5C;
  border-radius: 1.5rem;
  padding: 2rem; }

.section-items-p-delivery .individual-item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: 1.5rem;
  background-color: #D9D9D9;
  padding: 2.3rem; }
  .section-items-p-delivery .individual-item:not(:last-child) {
    margin-bottom: 2rem; }
  .section-items-p-delivery .individual-item__details-m-price {
    display: flex;
    align-items: flex-start;
    border-radius: inherit; }
  .section-items-p-delivery .individual-item__details > div:not(:first-child) {
    font-size: 2rem; }
  .section-items-p-delivery .individual-item__image {
    background-color: #5E5C5C;
    border-radius: inherit;
    width: 20rem;
    height: 20rem;
    margin-right: 4rem; }
  .section-items-p-delivery .individual-item__quantity {
    margin: 1rem 0 2rem 0; }
  .section-items-p-delivery .individual-item__amount {
    display: inline-block;
    padding: 1.1rem 2.7rem;
    color: white;
    background-color: black;
    border-radius: 1.5rem; }

.customer-reviews {
  margin-top: 15rem; }
  .customer-reviews .reviews-p-ratings {
    margin-top: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start; }

.product-reviews-list {
  padding: 4rem;
  color: #646161;
  border-radius: 1.5rem;
  background-color: #D9D9D9;
  margin-left: 8rem;
  flex-grow: 2.7; }
  .product-reviews-list > div:not(:last-child) {
    margin-bottom: 5rem; }
  .product-reviews-list .individual-review {
    display: flex; }
    .product-reviews-list .individual-review__customer-image {
      width: 22rem;
      height: 7.5rem;
      border-radius: 5rem;
      background-color: #5A5A5A;
      margin-right: 3rem; }
    .product-reviews-list .individual-review__details {
      margin-top: 1.5rem; }
    .product-reviews-list .individual-review__date, .product-reviews-list .individual-review__content {
      font-size: 2rem; }
    .product-reviews-list .individual-review__content {
      margin-top: 1.5rem; }

.product-rating {
  padding: 1.5rem;
  border-radius: 1.5rem;
  background-color: #D9D9D9;
  flex-grow: 1; }
  .product-rating__average-p-rating-bar {
    display: flex;
    justify-content: space-between; }
  .product-rating__average-rating {
    border-radius: 1.5rem;
    background-color: #5A5A5A;
    padding: 2.5rem;
    color: white; }
    .product-rating__average-rating--primary {
      font-size: 3.2rem;
      font-weight: 700; }
    .product-rating__average-rating--secondary {
      margin-top: 1.5rem;
      font-size: 2rem; }
  .product-rating__levels {
    font-size: 2rem;
    margin: 4rem 0 2.5rem 0;
    padding: 0 2.5rem; }

.footer__content {
  font-size: 1.6rem;
  text-align: center;
  padding: 3rem 0;
  margin-top: 10rem;
  background-color: #D9D9D9; }

.nav-primary {
  margin: 3rem 16rem;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .nav-primary__logo {
    font-family: "Peace Sans";
    margin-right: 5rem; }
    .nav-primary__logo h1 {
      letter-spacing: .1em;
      font-size: 6.4rem;
      font-weight: normal; }
  .nav-primary__cart {
    font-size: 2rem;
    letter-spacing: .1em;
    font-weight: 700;
    display: flex;
    align-items: center; }
    .nav-primary__cart img {
      height: 4.5rem; }
    .nav-primary__cart .cart__heading-p-counter {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
    .nav-primary__cart .cart__counter {
      line-height: 1;
      padding: .7rem;
      color: white;
      background-color: black;
      border-radius: 5rem;
      font-size: 1.6rem; }
  .nav-primary__location .nav-location__deliver-to {
    display: flex;
    align-items: center; }
    .nav-primary__location .nav-location__deliver-to span {
      font-size: 1.6rem;
      letter-spacing: .1em;
      margin-left: .5rem;
      line-height: 2rem; }
    .nav-primary__location .nav-location__deliver-to img {
      height: 1.44rem; }
  .nav-primary__location .nav-location__location-pin {
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: .1em;
    margin-top: .5rem; }
  .nav-primary__returns-p-orders {
    font-size: 2rem;
    letter-spacing: 0.1em;
    font-weight: 700; }
  .nav-primary__product-search {
    display: flex;
    font-size: 2rem; }
    .nav-primary__product-search .product-search__search-category {
      font-weight: 700;
      padding: 2.5rem;
      background-color: #828282;
      border-radius: 1.5rem 0 0 1.5rem; }
    .nav-primary__product-search .product-search__search-input {
      font-family: inherit;
      font-size: inherit;
      padding: 2.5rem;
      background-color: #D9D9D9;
      border-radius: 0 1.5rem 1.5rem 0;
      border-style: none;
      outline-style: none;
      width: 50rem; }

.section-order-summary, .section-lifetime-savings {
  font-size: 2rem;
  padding: 2rem;
  background-color: #5A5A5A;
  border-radius: 1.5rem; }
  .section-order-summary > :first-child, .section-lifetime-savings > :first-child {
    margin: 1rem 0 2.6rem 0;
    color: white; }
  .section-order-summary .btn-proceed-to-pay, .section-lifetime-savings .btn-proceed-to-pay {
    color: white;
    padding: 2.3rem 0;
    text-align: center;
    background-color: black;
    border-radius: 1.5rem;
    margin-top: 4.3rem; }

.order-summary__charges, .order-summary__coupon, .order-summary__order-total {
  padding: 2rem 2.4rem;
  margin-bottom: 2rem; }

.order-summary__charges {
  background-color: #D9D9D9;
  border-radius: inherit; }
  .order-summary__charges--item-charges, .order-summary__charges--delivery-charges {
    display: flex;
    justify-content: space-between; }
  .order-summary__charges > div:not(:last-child) {
    margin-bottom: 1.5rem; }

.order-summary__coupon {
  background-color: #1C1C1C;
  border-radius: inherit;
  color: white;
  position: relative; }
  .order-summary__coupon input {
    font-family: inherit;
    font-size: inherit;
    padding: 1.5rem;
    background-color: #D9D9D9;
    border-radius: 1.5rem;
    border-style: none;
    outline-style: none;
    width: 100%;
    margin-top: 2rem; }
  .order-summary__coupon .btn-apply-coupon {
    font-size: 1.6rem;
    position: absolute;
    bottom: 2.8rem;
    right: 3.2rem;
    background-color: black;
    padding: .5rem 2.5rem;
    border-radius: 5rem; }

.order-summary__order-total {
  background-color: #D9D9D9;
  border-radius: inherit;
  display: flex;
  justify-content: space-between; }

.order-meta {
  display: flex;
  justify-content: space-between;
  color: white;
  font-size: 1.6rem;
  padding: 2.3rem 2.3rem 3.8rem 2.3rem;
  background-color: #1C1C1C;
  border-radius: 1.5rem 1.5rem 0 0; }
  .order-meta > div:last-child {
    text-align: right;
    flex-grow: 3; }
  .order-meta > div:not(:last-child) {
    flex-grow: 1; }

.orders-history-plus-savings {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; }

.orders-history {
  padding: 2rem;
  background-color: #5E5C5C;
  border-radius: 1.5rem;
  flex-grow: 2.7; }
  .orders-history > div:not(:last-child) {
    margin-bottom: 2rem; }
  .orders-history__individual {
    padding: 2.3rem;
    background-color: #D9D9D9;
    border-radius: 0 0 1.5rem 1.5rem; }
    .orders-history__individual > div:first-child {
      margin-bottom: 3rem; }

.order-products-list {
  display: flex;
  justify-content: space-between; }

.order-product {
  display: flex; }
  .order-product:not(:last-child) {
    margin-bottom: 2.3rem; }
  .order-product__product-image {
    width: 21.6rem;
    height: 21.6rem;
    border-radius: 1.5rem;
    background-color: #5E5C5C; }
  .order-product__product-details {
    margin-left: 2.8rem; }
    .order-product__product-details .product-name {
      margin-bottom: 1.5rem;
      line-height: 2.5rem; }

.order-actions {
  display: flex;
  flex-direction: column; }
  .order-actions > div:not(:last-child) {
    margin-bottom: 1.5rem; }

.section-lifetime-savings {
  margin-left: 8rem;
  flex-grow: 1; }

.section-payment > div:first-child {
  margin-top: 5rem;
  margin-bottom: 2.5rem; }

.payment-modes {
  padding: 2rem;
  background-color: #5E5C5C;
  border-radius: 1.5rem; }

.payment-option {
  display: flex;
  align-items: flex-start;
  padding: 3rem;
  background-color: #828282;
  border-radius: 1.5rem;
  color: white; }
  .payment-option__details {
    margin-left: 3rem;
    width: 50%; }
  .payment-option__instruction {
    font-size: 1.6rem;
    margin-top: 2rem; }
    .payment-option__instruction input, .payment-option__instruction select {
      font-family: inherit;
      font-size: inherit;
      padding: 1.5rem;
      background-color: #D9D9D9;
      border-radius: 1.5rem;
      border-style: none;
      outline-style: none; }
    .payment-option__instruction--name, .payment-option__instruction--number, .payment-option__instruction--expiry {
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .payment-option__instruction--name input, .payment-option__instruction--number input, .payment-option__instruction--expiry input {
        width: 70%; }
      .payment-option__instruction--name select:last-child, .payment-option__instruction--number select:last-child, .payment-option__instruction--expiry select:last-child {
        margin-left: 2.5rem; }
    .payment-option__instruction--upi-id input {
      width: 70%;
      margin-right: 1.6rem; }
    .payment-option__instruction--upi-id div:first-child {
      margin-bottom: 1.5rem; }
  .payment-option:not(:last-child) {
    margin-bottom: 2rem; }

.price-tag {
  display: inline-block;
  padding: 1.7rem 3.3rem;
  background-color: black;
  border-radius: 1.5rem;
  color: white; }
  .price-tag__price {
    font-size: 4.8rem;
    font-weight: 700;
    line-height: 6rem; }
  .price-tag__product {
    margin: 3.5rem 0; }
    .price-tag__product--discount {
      font-size: 2.4rem;
      line-height: 3rem; }
  .price-tag__subtotal {
    margin: 2rem 0 2.5rem 0; }
    .price-tag__subtotal--discount {
      display: none; }

.product-card {
  font-size: 2rem;
  width: 38rem; }
  .product-card__product-image {
    background-color: #D9D9D9;
    border-radius: 1.5rem 1.5rem 0 0;
    height: 25rem;
    position: relative; }
    .product-card__product-image .sale-tag {
      font-size: 1.6rem;
      background-color: #828282;
      padding: .6rem 2rem;
      border-radius: 5rem;
      position: absolute;
      top: 1.3rem;
      right: 1.3rem; }
  .product-card__product-details {
    padding: 2rem;
    background-color: #A5A5A5;
    border-radius: 0 0 1.5rem 1.5rem; }
    .product-card__product-details div:not(:last-child) {
      margin-bottom: 1rem; }
  .product-card__name {
    font-weight: 700; }
  .product-card__eta {
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    background-color: #D9D9D9;
    border-radius: 1.5rem;
    padding: 1rem; }
    .product-card__eta img {
      margin-right: 1rem;
      height: 3.2rem; }

.product-filter {
  background-color: #D9D9D9;
  padding: 1.3rem;
  border-radius: 1.5rem; }
  .product-filter .filter-heading {
    background-color: #828282;
    padding: 1rem;
    text-align: center;
    border-radius: inherit; }
  .product-filter__category {
    font-size: 2rem;
    padding: 0 1.2rem; }
    .product-filter__category label {
      display: inline-block;
      margin-left: .5rem; }
    .product-filter__category--name {
      margin-top: 2rem;
      margin-bottom: 1rem;
      font-weight: 700; }
  .product-filter .filter-option {
    display: flex;
    align-items: center; }
    .product-filter .filter-option:not(:last-child) {
      margin-bottom: .5rem; }

.rating-bar__large .material-symbols-outlined {
  font-variation-settings: 'FILL' 1, 'wght' 700, 'GRAD' 200, 'opsz' 20; }

.rating-bar__small .material-symbols-outlined {
  font-variation-settings: 'FILL' 1, 'wght' 100, 'GRAD' -25, 'opsz' 20; }

.rating-bar .negative {
  color: #D9D9D9; }

.section-product-search .product-search__filter-p-grid {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; }

.section-product-search .product-search__grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-gap: 5rem; }

.product__visuals-p-details {
  display: flex; }

.product-visuals {
  width: 61.5rem;
  margin-right: 7.5rem; }
  .product-visuals__primary {
    height: 61.5rem;
    background-color: #D9D9D9;
    border-radius: 1.5rem; }
  .product-visuals__secondary {
    margin-top: 4rem;
    display: flex;
    justify-content: space-between; }
  .product-visuals .secondary-visual {
    width: 12.4rem;
    height: 12.4rem;
    background-color: #D9D9D9;
    border-radius: 1.5rem; }
    .product-visuals .secondary-visual:not(:last-child) {
      margin-right: 4rem; }

.product-details__brand-name {
  margin-top: 1rem;
  margin-bottom: 2rem; }

.product-description > div {
  margin-top: 5rem;
  margin-bottom: 3.5rem; }

.product-description p {
  padding: 2.5rem;
  font-size: 2rem;
  background-color: #D9D9D9;
  border-radius: 1.5rem; }

.product-offers > div:first-child {
  margin-top: 5rem;
  margin-bottom: 3.5rem; }

.product-offers__list {
  padding: 1.5rem;
  background-color: #D9D9D9;
  border-radius: 1.5rem; }
  .product-offers__list :not(:last-child) {
    margin-bottom: 1.5rem; }

.product-offers .offer {
  padding: 2.7rem;
  color: white;
  background-color: #828282;
  border-radius: 1.5rem; }

.related-products {
  background-color: #D9D9D9;
  border-radius: 1.5rem;
  padding: 5rem 5rem 7rem 5rem;
  margin-top: 15rem; }
  .related-products__arrows-p-items {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .related-products__arrows-p-items img {
      flex-grow: .5; }
  .related-products__items {
    display: flex;
    justify-content: space-between;
    padding: 3rem;
    margin: 5rem 3rem 0 3rem;
    flex-grow: 2;
    background-color: #828282;
    border-radius: 1.5rem; }

.quantity .quantity-counter {
  display: inline-block;
  border: thin solid;
  border-radius: 1.5rem;
  background-color: white;
  color: black; }
  .quantity .quantity-counter .counter-controls {
    display: flex;
    align-items: center; }

.quantity .decrement, .quantity .increment {
  background-color: #D9D9D9;
  border-radius: 1.5rem;
  padding: 1rem 2rem;
  cursor: pointer; }

.small > div:first-child {
  font-size: 2rem;
  margin: 1rem 0 1rem 0; }

.small .quantity-counter {
  padding: .9rem 1.6rem;
  font-size: 1.6rem;
  margin-bottom: 3rem;
  line-height: 2rem; }

.small .counter-controls div:not(:last-child) {
  margin-right: 1.7rem; }

.big > div:first-child {
  font-size: 2.4rem;
  margin-bottom: 2rem; }

.big .quantity-counter {
  padding: 1rem;
  font-size: 2.4rem;
  margin-bottom: 4rem; }

.big .counter-controls div:not(:last-child) {
  margin-right: 3.3rem; }

.section-shopping-cart .shopping-cart__heading-p-btn {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.section-shopping-cart .shopping-cart__cart-p-subcheck {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; }

.section-shopping-cart .shopping-cart__cart-p-subtotal {
  display: flex;
  flex-direction: column;
  flex-grow: 2.7; }

.section-shopping-cart .shopping-cart__products-list {
  padding: 2rem;
  border-radius: 1.5rem;
  background-color: #5E5C5C; }

.section-shopping-cart .cart-product {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  color: white;
  border-radius: 1.5rem;
  background-color: #828282;
  padding: 3rem; }
  .section-shopping-cart .cart-product:not(:last-child) {
    margin-bottom: 2rem; }
  .section-shopping-cart .cart-product .btn:not(:last-child) {
    margin-right: 2.5rem; }
  .section-shopping-cart .cart-product__image {
    background-color: #D9D9D9;
    border-radius: inherit;
    width: 20rem;
    height: 20rem;
    margin: 0 4rem; }
  .section-shopping-cart .cart-product__details-m-price {
    display: flex;
    align-items: flex-start;
    border-radius: inherit; }

.section-shopping-cart .cart-subtotal {
  font-size: 2.4rem;
  background-color: #D9D9D9;
  border-radius: 1.5rem;
  padding: 3rem 4.8rem;
  margin-top: 3.6rem;
  display: inline-block;
  text-align: right; }
  .section-shopping-cart .cart-subtotal div {
    display: inline-block; }

.section-shopping-cart .subtotal-checkout {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 8rem;
  flex-grow: 1;
  font-size: 2.4rem;
  color: white;
  background-color: #5E5C5C;
  border-radius: 1.5rem;
  padding: 3.5rem;
  text-align: center; }

.section-products-later {
  margin-top: 15rem; }
  .section-products-later .products-later__items {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-gap: 3rem;
    margin-top: 5rem;
    padding: 3rem;
    background-color: #828282;
    border-radius: 1.5rem; }
